.cont1 {
    background-color: rgb(250, 212, 86);
    border: 10px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.cont1:hover {
    background-color: rgb(231, 231, 231);
    font-style: italic;
    /* text-align: center; */
    /* transition: 1.ms; */
}

.img1 {
    height: 100px;
    border: 10px solid black;
    border-radius: 50;
    margin: 0 auto;
    display: block;
}